<h1>Edit student</h1>

<%= form_for @student, url: {action: "update"} do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <br/>
  <%= f.label :email %>
  <%= f.text_field :email %>
  <br/>

  <%= f.label :phone %>
  <%= f.text_field :phone %>
  <br/>
  <%= f.submit "Update Student" %>
<% end %>